:root {
	--cell-size: 2em;
}

* {
	box-sizing: border-box;
}

body {
	background-color: grey;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid purple;
	min-height: 100vh;
	gap: 4em;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
}

.boardsContainer {
	display: flex;
	gap: 2em;
}

.gridContainer {
	background-color: aqua;
	display: flex;
	flex-direction: column;
	padding: 1em;
	max-width: 24em;
}

.water {
	background-color: blue;
}

.initial {
	background-color: #fdfdfd;
}

.ship {
	background-color: black;
}

.grid {
	border: 1px solid black;
	width: fit-content;
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(10, var(--cell-size));
	> div {
		border: 1px solid black;
		height: var(--cell-size);
		width: var(--cell-size);
		> button {
			height: 100%;
			width: 100%;
			cursor: pointer;
		}
	}
}
