:root {
	--boop-spring: linear(
		0,
		0.011,
		0.045 1.4%,
		0.184 3%,
		0.913 8.2%,
		1.156,
		1.304 12.3%,
		1.345,
		1.365,
		1.367,
		1.359 15.8%,
		1.31 17.5%,
		1.027 23.1%,
		0.937 25.3%,
		0.888 27.1%,
		0.873,
		0.866 29%,
		0.867,
		0.88,
		0.905 33.5%,
		0.982 37.5%,
		1.014 39.4%,
		1.038,
		1.049 43.7% 45.2%,
		1.044 46.7%,
		0.995 54.2%,
		0.986,
		0.982 58.4%,
		0.984 61.5%,
		1.002 68.9%,
		1.006 72.9%,
		0.998 87.3%,
		1.001
	);
	--boop-spring-duration: 1s;

	--sprite-w: 1536px;
	--sprite-h: 1024px;
	--frame-w: 180px;
	--frame-h: 240px;
}

:root[data-theme="light-mode"] {
	--bg: lch(66% 132 259);
	--color: #000;
}

:root[data-theme="dark-mode"] {
	--bg: lch(18% 132 300);
	--color: #fff;
}

body {
	background-color: var(--bg);
	color: var(--color);
}

#navbar {
	background-color: lch(0% 132 290 / 32%);
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.water {
	background-color: var(--bg);
}

/* .initial {
	background-color: white;
} */

.ship {
	background-color: black;
}

.typeCheckboxLabel {
	width: 180px;
	height: 60px;
	display: flex;
	align-items: center;
}
@keyframes slide {
	to {
		transform: translate(200px);
	}
}

.typeCheckboxLabel::before {
	content: "";
	height: 88%;
	width: 40%;
	border-radius: 100%;
	background-color: red;
	transform: translateX(0); /* initial baseline */
	transition: transform 0.25s;
}

input[type="checkbox"]:checked + .typeCheckboxLabel::before {
	/* animation: slide 1s forwards; */
	transform: translateX(100%);
}
input[type="checkbox"] + .typeCheckboxLabel::before {
	transform: translateX(0);
}

input[type="checkbox"] + .typeCheckboxLabel {
	appearance: none;
	border: 2px solid red;
	border-radius: 4px;
}

input[type="checkbox"]:checked + .typeCheckboxLabel {
	border: 2px solid greenyellow;
}

input[type="checkbox"] {
	display: none;
}

.carousel {
	width: var(--frame-w);
	height: var(--frame-h);
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}

.strip {
	width: calc(var(--frame-w) * 10);
	height: var(--frame-h);
	display: flex;
}

.frame {
	width: var(--frame-w);
	height: var(--frame-h);
	background-image: url("./assets/imgs/newOfficersSprite.png");
	background-size: calc(var(--sprite-w) * 1 / 2) calc(var(--sprite-h) * 1 / 2);
	background-repeat: no-repeat;
}

.frame:nth-child(1) {
	background-position: -546px -251px;
}
.frame:nth-child(2) {
	background-position: -17px -19px;
}
.frame:nth-child(3) {
	background-position: -190px -19px;
}
.frame:nth-child(4) {
	background-position: -366px -19px;
}
.frame:nth-child(5) {
	background-position: -545px -19px;
}

.frame:nth-child(6) {
	background-position: -15px -251px;
}
.frame:nth-child(7) {
	background-position: -188px -251px;
}
.frame:nth-child(8) {
	background-position: -362px -251px;
}
.frame:nth-child(9) {
	background-position: -546px -251px;
}
.frame:nth-child(10) {
	background-position: -17px -19px;
}

@keyframes tremble {
	100% {
		transform: scale(1.08) translate(-2px, -2px);
	}
}

.topLayer:hover {
	animation: tremble var(--boop-spring) var(--boop-spring-duration) infinite
		alternate;
	/* box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.443),
		0 4px 6px -4px rgba(0, 0, 0, 0.44);
	z-index: 999; */

	outline: 0.2em solid black;
}

.topLayer {
	cursor: pointer;
}

.bottomLayer {
	border: 0.15em dotted black;
}

@keyframes highlightPlayableGrid {
	50% {
		outline: 1px solid red;
	}
	80% {
		outline: 2px solid red;
	}
	100% {
		outline: 3px solid red;
	}
}

.playableGrid {
	outline: 0px solid red;
	animation: highlightPlayableGrid 200ms forwards;
}

@keyframes resize {
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

.resizeRevealed {
	animation: resize 0.5s forwards ease-out;
}

@keyframes fadeOut {
	to {
		background-color: transparent;
	}
}

.fadeOutRevealed {
	animation: fadeOut 0.5s forwards ease-out;
}

@keyframes semiTransparencyRevealed {
	to {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

.gameOverRevealed {
	animation: semiTransparencyRevealed 500ms both;
}

@keyframes deployShip {
	50% {
		transform: scale(1.5);
	}
	100% {
		background-color: black;
		transform: scale(1);
	}
}

.newShip {
	animation: deployShip 400ms both;
}

@keyframes shipToVerticalRotation {
	to {
		transform: rotate(0.25turn) translateY(100%);
	}
}

@keyframes shipToHorizontalRotation {
	from {
		transform: rotate(0.25turn) translateY(100%);
	}
}

.draggableShip .rotateShip {
	transform-origin: var(--left) var(--top);
}

.draggableShip.rotating-vertical > .rotateShip {
	animation: shipToVerticalRotation 0.4s forwards;
}

.draggableShip.rotating-horizontal > .rotateShip {
	animation: shipToHorizontalRotation 0.4s forwards;
}

@keyframes greenPulse {
	to {
		border-top: lch(78% 132 143) 0.2em solid;
		border-left: lch(78% 132 143) 0.4em solid;
		border-bottom: lch(78% 132 143) 0.2em solid;
		border-right: lch(78% 132 143) 0.4em solid;
	}
}

@keyframes redPulse {
	to {
		border-top: red 0.2em solid;
		border-left: red 0.4em solid;
		border-bottom: red 0.2em solid;
		border-right: red 0.4em solid;
	}
}

.gridCellRedPulse {
	animation: redPulse var(--boop-spring) var(--boop-spring-duration) infinite;
}

.gridCellGreenPulse {
	animation: greenPulse var(--boop-spring) var(--boop-spring-duration) infinite;
}

#playerProfileSprite {
	transition: all 400ms;
}

/* @keyframes grow {
	to {
		transform: scale(2);
	}
}

.gridCell:hover,
.ship:hover {
	animation: grow 1s;
} */

/* @keyframes keyPress {
	0% {
		transform: scale(1) translate(var(--x), var(--y));
	}
	50% {
		transform: scale(0.8) translate(var(--x), var(--y));
	}
	100% {
		transform: scale(1) translate(var(--x), var(--y));
	}
}

.arrowPress {
	animation: keyPress var(--duration) cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.playerTypeSelected {
	background-color: rgb(236, 89, 5) !important;
	color: white;
} */

/* .rotate {
	transform: translateX(-68%) translateY(-245%) rotate(-90deg);
	top: 0;
}

@keyframes grow {
	to {
		transform: scale(2);
	}
}

#svg-circle-2 {
	animation: grow 1000ms infinite;
	transform-origin: center;
}

.dev {
	border: 1px solid black;
	background-color: white;

	path {
		stroke-width: 0.4em;
		stroke: black;
		fill: none;
		transform-origin: center;
	}
} */

/* @keyframes moonPoke {
	15% {
		transform: rotate(90deg);
	}

	25% {
		transform: rotate(0deg);
	}

	40% {
		transform: rotate(-90deg);
	}

	50% {
		transform: rotate((0deg));
	}

	65% {
		transform: rotate(45deg);
	}

	75% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(-45deg);
	}

	100% {
		transform: rotate(0deg);
	}
} */

/* .dev:hover {
	border: 1px solid red;
	path {
		transition: 0.5s;
		d: path("M 50,10 A 40,40 0 1 0 90,50 A 40,40 0 0 0 50, 10 Z");
	}

	path {
		animation: moonPoke 600ms alternate forwards;
	}
} */

/* @keyframes moonToCircle {
	to {
		d: path("M 10, 50 A 40, 40 0 0 0 90, 50 A 40, 40 0 0 0 10, 50 Z");
	}
}

#moonPath {
	transform-origin: center;
}

.moonSvg,
.circleSvg {
	fill: none;
	stroke-width: 0.6em;
	stroke: black;
	cursor: pointer;

	&:hover {
		path {
			animation: moonToCircle 300ms forwards;
		}
	}
}


} */

/* .moonPoke.beingPoked {
	transform: rotate(-20deg);
} */

.poke {
	transition: transform var(--boop-spring) var(--boop-spring-duration);
	transform-origin: center;
}

.poke:hover {
	transform: rotate(-20deg);
}
