:root {
	--cell-size: 2em;
}

* {
	box-sizing: border-box;
}

body {
	background-color: grey;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	gap: 4em;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: rgb(120, 120, 202);
	width: 100%;
	min-height: 100vh;
}

.navbar {
	background-color: rgb(104, 90, 235);
	width: 100%;
	display: flex;
	padding: 1em 3em;
	align-items: center;
	gap: 1.6em;
}

.gameName {
	font-size: 4em;
	line-height: 0.5em;
}

.createPlayerSection,
.createShipSection,
.createMatchSection {
	border: 1px solid red;
	margin-bottom: 2em;
}

.boardsContainer {
	display: flex;
	gap: 2em;
}

.gridContainer {
	background-color: aqua;
	display: flex;
	flex-direction: column;
	padding: 1em;
	max-width: 24em;
}

.shipShape {
	border: 0.1em solid black;
	display: flex;
	width: fit-content;
	padding: 0.2em;
}

.shipPart {
	height: 1em;
	width: 1em;
	background-color: black;
	margin-right: 0.15em;

	&:last-of-type {
		margin-right: 0;
	}
}

.water {
	background-color: blue;
}

.initial {
	background-color: #fdfdfd;
}

.ship {
	background-color: black;
}

.grid {
	border: 1px solid black;
	width: fit-content;
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(10, var(--cell-size));
	> div {
		border: 1px solid black;
		height: var(--cell-size);
		width: var(--cell-size);
		> button {
			height: 100%;
			width: 100%;
			cursor: pointer;
		}
	}
}
